	body{
		background: rgba(1,47,90,1);
		background: -moz-linear-gradient(left, rgba(1,47,90,1) 0%, rgba(50,136,179,1) 18%, rgba(50,136,179,1) 82%, rgba(1,47,90,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1,47,90,1)), color-stop(18%, rgba(50,136,179,1)), color-stop(82%, rgba(50,136,179,1)), color-stop(100%, rgba(1,47,90,1)));
		background: -webkit-linear-gradient(left, rgba(1,47,90,1) 0%, rgba(50,136,179,1) 18%, rgba(50,136,179,1) 82%, rgba(1,47,90,1) 100%);
		background: -o-linear-gradient(left, rgba(1,47,90,1) 0%, rgba(50,136,179,1) 18%, rgba(50,136,179,1) 82%, rgba(1,47,90,1) 100%);
		background: -ms-linear-gradient(left, rgba(1,47,90,1) 0%, rgba(50,136,179,1) 18%, rgba(50,136,179,1) 82%, rgba(1,47,90,1) 100%);
		background: linear-gradient(to right, rgba(1,47,90,1) 0%, rgba(50,136,179,1) 18%, rgba(50,136,179,1) 82%, rgba(1,47,90,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#012f5a', endColorstr='#012f5a', GradientType=1 );
		padding-bottom: 100px;
	}
	h1{
		font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
		font-size: 19pt;
		font-style: normal;
		font-variant: normal;
		color: #303030;
	}
	ul{
		list-style: none;
	}
	#main-container{
		width: 960px;
		background-color: #ffffff;
		height: 100%;
		margin-bottom: 0px;
		box-shadow: 0px 10px 300px #3a89b3;
		z-index: 1;
	}
	#bottom-shadow{
		display: block;
    	position: relative;
		width: 980px;
		-webkit-box-shadow: 0px 5px 40px 8px rgba(0, 0, 0, 1);
    	-moz-box-shadow: 0px 5px 40px 8px rgba(0, 0, 0, 1);
    	box-shadow: 0px 5px 40px 8px rgba(0, 0, 0, 1);
    	border: solid 1px transparent;
    	border-radius: 90%;
    	z-index: 0;
    	top: -2px;
	}
	#top-banner-nav{
		display: block;
    	position: relative;
    	z-index: 2;
		width: auto;
		background-color: #111213;
		height: 109px;
	}
	#search{
		position: relative;
		float: right;
		right: 22px;
		margin-top: 18px;
	}
	#search-box{
		display: flex;
	    background-color: #ffffff;
	    border: 0 none;
		width: 125px;
		height: 17px;
		padding: 3px 5px 4px 5px;;
	    border-radius: 20px;
	    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
	    box-shadow: inset 1px 0px 5px #000;
	}
	#search-box input{
		background-color: transparent;
		border: none;
		width: 100%;
		font-family: Georgia, Times, "Times New Roman", serif;
		font-size: 7pt;
		font-style: normal;
		font-variant: normal;
		color: #d7d7d7;
		margin-right: 6px;
		margin-left: 4px;
	}
	#search-box div button{
		width: auto;
		padding: 0px;
		margin-top: -10px;
		background-color: inherit;
	}
	.btn .caret{
		margin-left: -4px;
	}
	#logo{
		position: relative;
		top: 27px;
		left: 30px;
		width: 389px;
		height: auto;
	}
	#navigation{
		position: relative;
		float: right;
		right: 22px;
		top: 5px;
	}
	#navigation ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	#navigation ul li{
		display: inline;
		margin-left: 6px;
		margin-right: 6px;
	}
	#navigation ul li:last-child{
		margin-right: 0px !important;
	}
	#navigation ul li a{
		font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
		font-size: 12px;
		font-style: normal;
		font-variant: normal;
		font-weight: bold;
		color: #ffffff;
	}
	#slider{
		position: relative;
		top: 0;
		background-color: #111213;
		height: 360px;
		box-shadow: 40px -20px 150px 10px rgba(220, 231, 238, 1), -40px -20px 150px -10px rgba(220, 231, 238, 1);
	}
	#myCarousel ol{
		position: absolute;
	    margin: 0;
	    padding: 0;
	    float: left;
	    left: 30px;
	    z-index: 1;
	    bottom: 20px;
	}
	#myCarousel ol li{
		float: left;
		width: 9px;
		height: 9px;
		background-color: #2c83b0;
		border: none;
		margin-right: 12px;
	}
	.carousel-indicators .active{
		margin: 1px;
		background-color: #a3a3a3 !important;
	}
	#back-bar{
		position: relative;
		top: 0;
		background-color: #111213;
		height: 152px;
		z-index: 2;
	}
	#heading-social{
		position: absolute;
		width: 560px;
		left: 30px;
		top: 35px;
	}
	#heading-social p{
		font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
		font-size: 23pt;
		font-style: normal;
		font-variant: normal;
		color: #a3a3a3;
		line-height: 27pt; 
		letter-spacing: -1px;
	}
	.social-icons {
		position: absolute;
		display: inline-flex;
		float: right;
		right: 16px;
		top: 52px;
	}
	.social-icon-circle{
		position: relative;
		width: 49px;
		height: 48px;
		border-radius: 50%;
		background-color: #2b2d2f;
		margin-right: 3px;
		margin-left: 3px;
	}
	.social-icon-circle img{
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	#posts{
		width: 653px;
		margin: 30px;
		margin-top: 28px;
		padding: 0px;
	}
	#posts ul{
		padding: 0;
		margin: 0;
	}
	#posts ul li{
		margin: 0;
		padding: 0;
	}
	.post{
		margin-bottom: 30px;
		min-height: 185px;
		border-bottom: 2px solid #f3f3f3;
	}
	.post div img{
		width: 152px;
		height: 152px;
		border: 5px solid #e9e9e9;
	}
	.post div h1{
		margin-bottom: 0;
		margin-top: 2px;
	}
	.post div:first-child{
		min-width: 152px;
		margin-right: 30px;
	}
	.post-date{
		font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
		font-size: 10px;
		font-style: normal;
		font-variant: normal;
		color: #77a7c6;
	}
	.post-description{
		font-family: Georgia, Times, "Times New Roman", serif;
		font-size: 10pt;
		font-style: normal;
		font-variant: normal;
		color: #303030;
		min-width: 465px;
	}
	.btn-readmore{
		width: 140px;
		height: 26px;
		background: linear-gradient( 0deg, #45809e, #6eb3d6 90%, #6eb3d6 );
		box-shadow: 1px 2px 1px #303030;
		border-radius: 1px;
		margin-top: 5px;
		font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 9pt;
		font-style: normal;
		font-variant: normal;
		color: #e2e1e1;
		text-shadow: 1px 1px #303030;
	}
	.btn-readmore:hover{
		background: linear-gradient( 0deg, #6eb3d6, #45809e 90%, #45809e );
		box-shadow: 1px 2px 1px #303030;
		border-radius: 1px;
		margin-top: 5px;
		font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 9pt;
		font-style: normal;
		font-variant: normal;
		color: #e2e1e1;
		text-shadow: 1px 1px #303030;
	}
	#sidebar{
		background: linear-gradient( -15deg, transparent 10%, #e7e7e7 99% , #e7e7e7 );
		padding: 13px 23px 13px 23px;
		width: 247px;
	}
	.sidebar-item{
		margin-bottom: 34px;
	}
	.sidebar-item h1{
		margin-bottom: 23px;
	}
	.sidebar-item p, .sidebar-item a{
		display: block;
		color: #303030;
		font-family: Georgia, Times, "Times New Roman", serif;
		font-size: 9pt;
		font-style: normal;
		font-variant: normal;
		margin-bottom: 0px;
		line-height: 15pt;
	}
	.sidebar-item a{
		color: #2c83b0 !important;
	}
	.btn-signup{
		margin-top: 18px;
	}
	.winner-list{
		margin-top: 18px;
	}
	.alt_page_navigation{
		margin-top: 45px;
		margin-bottom: 14px;
	}
	.alt_page_navigation a{
		padding: 3px 9px;
		margin: 2px;
		color: #9a9a9a;
		text-decoration: none;
		float: left;
		font-family: Georgia, Times, "Times New Roman", serif;
		font-size: 8pt;
		background-color:#eeeeee;
	}
	.alt_page_navigation a:hover{
		color: white;
		background-color:#c1c1c1;
	}
	.active_page{
		background-color:#9a9a9a !important;
		color:white !important;
	}
	#sponsors{
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 40px;
	}
	#sponsors h1{
		margin-top: 9px;
		margin-bottom: 24px;
	}
	#sponsors .row{
		margin-top: 10px;
	}
	.sponsor-icon{
		position: relative;
		width: 140px;
		height: 85px;
		background-color: white;
		border: 6px solid #f6f6f6;
		margin-left: 11px;
	}
	.sponsor-icon img{
		width: 100%;
		height: auto;
		overflow: auto;
		margin: auto;
		position: absolute;
		top: 0; 
		left: 0; 
		bottom: 0; 
		right: 0;
	}
	#footer{
		background-color: #0f0f0f;
		padding-bottom: 47px;
	}
	#footer div h1{
		color: #ffffff;
	}
	#about, #flickr-stream, #contact{
		margin-left: 15px; 
		margin-right: 20px;
	}
	#flickr-stream{
		max-width: 272px;
	}
	#flickr-stream div{
		padding: 0;
		margin: 0;
		margin-top: 6px;
	}
	#about{
		max-width: 300px;
	}
	#about p{
		display: block;
		color: #6f6e6e;
		font-family: Georgia, Times, "Times New Roman", serif;
		font-size: 9pt;
		padding-top: 2px;
		padding-bottom: 9px;
		line-height: 1.6em;
	}
	#contact p{
		display: block;
		color: #6f6e6e;
		font-family: Georgia, Times, "Times New Roman", serif;
		font-size: 9pt;
		padding-top: 2px;
		line-height: 1.7em;
	}
	#about p:nth-child(3){
		color: #a3a3a3;
		font-weight: 300;
	}
	#contact p:nth-child(2){
		color: #a3a3a3;
		font-weight: bold;
		margin-bottom: 6px;
	}
	#flickr-stream div img{
		width: 76px;
		height: 76px;
		border: 1px solid #333333;
		margin-right: 2px;
		margin-bottom: 10px;
	}
	#contact{
		max-width: 280px;
	}
	#contact .social-icons{
		position: relative !important;
		top: 18px;
		left: 20px;
	}
